

<br><br>
<div class="large-7 columns">

  <h3><b>About Salasar Industries India Limited</b></h3> 
  <p>Salasar Industries India Limited incorporated in the year 2007 has been awarded as a leading Distributor and Specialist Stockist for the largest range of Steel Tubes ranging.</p>

  <p>
Salasar having its Head Office at Hyderabad has steadily grown to become a premium dealer and stocks the best quality brands manufactured by the most reputed Manufacturers and leading Industrial houses in India.</p> 
<p>We the management at Salasar dare to commit that we deliver the best quality products and have earned a commendable reputation for reliability and quality due to its adherence to uncompromising standards of quality. The objective is to delight customers at resonable prices.</p><br>



<table >
  <tr>
    <th>Width</th>
    <th>Thickness</th>
    <th>Pipe Name</th>

  </tr>

  <tr>
    <td>15 mm NB to 600 mm NB</td>
    <td>1/2" to 24" </td>
    <td>ERW MS Black Tubes/Pipes</td>
  </tr>

   <tr>
    <td>15 mm NB to 300 mm NB</td>
    <td>1/2" to 12"  </td>
    <td>GI Tubes/Pipes</td>
  </tr>

   <tr>
    <td>15 mm NB to 500 mm NB</td>
    <td>  1/2" to 20"  </td>
    <td>Seamless Tubes</td>
  </tr>

   <tr>
    <td>100 mm to 1000 mm</td>
    <td>K7 & K9  </td>
    <td>Ductile Iron Pipes</td>
  </tr>

   <tr>
    <td>600 mm NB to 1600 mm</td>
    <td>24" to 64"  </td>
    <td>Spiral Pipes</td>
  </tr>

</table><br>
  

<h3><b>Mission Statement</b></h3>
<p>We endeavour to reach the leadership position in each segment / sector of our Product / Service. We are comitted to satisfy our customers by providing such quality product / services, which gives highest value for money. We believe that employees are our most important asset through which we can reach the top in each category of our Product / Service. Therefore, we will emphasize on their continuous improvement through upgradation of relevant knowledge and training. We commit ourseleves to continuous growth, so as to fulfill the aspirations of our Customers, Employees and Suppliers.</p>

</div>

<div class="large-5 columns">
  <h4 style="text-align:center;"><b>We Represent</b></h4>
</div>

  