
<div class="large-7 columns">
	<br><br>
<h3><b>Contact Us</b><h3>

<h4><font color="orange">SALASAR INDUSTRIES INDIA LIMITED</font></h4>
<h5><b>Head Office</b></h5>
<p># 4-3-73/1, Hill Street
1st Floor, Ranigunj
Secunderabad - 500 003
Andhra Pradesh, India.<br>
Phone 	: 	+91 40-6638 2709, 66382717, 66332709<br>
Fax 	: 	+91 40-2770 0129<br>
Email 	: 	<a href="">info@salasarindia.com</a>


<h5><b>Krishna Kumar Kabra</b></h5>
Mobile: +91 92465 32717
</p>

</div>

<div class="large-5 columns">

<br><br>
<h4 style="text-align:center"><b>We Represent</b></h4>
	</div>