

<div class="large-6 columns">
  <br><br><br>  
<h3><b>Welcome to Salasar Industries India Limited</b></h3><br>

<p>Salasar Industries India Limited incorporated in the year 2007 has been awarded as a leading Distributor and Specialist Stockist for the largest range of Steel Tubes.</p>

<p>We endeaver to reach the leadership position in each segment, sector of our Product, Service. We are comitted to satisfy our customers by providing such quality product / services, which gives highest value for money.</p>

</div>

<div class="large-6 columns">

<ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="headline-1">
    <div>
      
      <img src="/assets/salasar2.jpg">
      <h3>subheadline</h3>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div>
      <img src="/assets/salasar1.jpg">
      <h3>Subheadline</h3>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div> 
      <img src="/assets/salasar.jpg">
      <h3>Subheadline</h3>
    </div>


  </li>
</ul>
	</div>