
<div class="large-12 columns">
<ul class=" medium-block-grid-4"> 
	<li><img src="/assets/salasar.jpg"> <figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption></li> 
	<li><img src="/assets/salasar1.jpg"></li> 
	<li><img src="/assets/salasar2.jpg"></li>
	 <li><img src="/assets/salasar3.jpg"></li> 
	 <li><img src="/assets/salasar4.jpg"></li> 
	 <li><img src="/assets/salasar5.jpg"></li>
	  <li><img src="/assets/salasar6.jpg"></li>
	  <li><img src="/assets/salasar6.jpg"></li>
	  <li><img src="/assets/9.jpg"></li>
	  <li><img src="/assets/10.jpg"></li>
	  <li><img src="/assets/11.jpg"></li>
	  <li><img src="/assets/11.jpg"></li>
	  <li><img src="/assets/12.jpg"></li>
	  <li><img src="/assets/13.jpg"></li>
	  <li><img src="/assets/14.jpg"></li>
	  <li><img src="/assets/15.jpg"></li>
	  <li><img src="/assets/16.jpg"></li>


</ul>

</div>